*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
main{
    height: 100vh;
    width: 100%;
    background-color: rgb(28, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 600px;
    height: 400px;
    background-color:linear-gradient(to right,purple,cyan);
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.container.search{
    width: 100%;
    text-align: center;
}
.container.search>input{
    width: 40%;
    height: 50px;
    font-size: 22px;
}
.container.search>button{
    padding: 7px 12px;
    font-size: 22px;
    height: 50px;
    background-color: green;
    color: white;
}
.container.search>input::placeholder{
    color: red;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 30px;
    justify-content: center;
    text-align: center;
}
.city h1{
    font-size: 45px;
}
.wind{
    display: flex;
    justify-content: space-around;
}